#### Ask the user for their name and print a greeting.

In [1]:
name=input('name')

name Barsha

#### Ask the user for two numbers and print their sum.

In [3]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
sum_number= num1+num2
print("The sum is:",sum_number)

Enter first number 5
Enter second number 2

The sum is: 7.0

#### Ask the user for their age and print how old they will be after 10 years.

In [7]:
age= int(input("enter your age"))
future_age = age + 10
print("after 10 years,you will be",future_age,"years old.")

enter your age 19

after 10 years,you will be 29 years old.

#### Ask the user for a number and print its square.

In [11]:
num= float(input("Enter a number"))
square = num*num
print("The square of the number is ",square)

Enter a number 2

The square of the number is  4.0

#### Ask the user for a string and print it in reverse.

In [12]:
text = input("Enter a string")
reverse_text = text[::-1]
print("Reversed String",reverse_text)

Enter a string python

Reversed String nohtyp

#### Ask the user for their city and country and print a formatted message:

In [14]:
city= input("Enter your city")
country = input("Enter your country")
print(f"you live in {city},{country}.")

Enter your city Kolkata
Enter your country India

you live in Kolkata,India.